.basics{
    color: aqua;
    text-decoration: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
header{
    border-bottom: 1px solid #006b1b;
    margin-bottom: 2rem;
    display: flex;
}
.nav-left{
    margin-right: auto;
}
.nav-right{
    display: flex;
    padding-top: 2rem;
}
.post-entry{
    margin-bottom: 2rem;
}
.post-entry h2 {
    margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
    color: indigo;
    text-decoration: none;
}
.post-entry p {
    margin: 0;
    font-weight: 400;
}
.post-entry h2 a:hover{
    color: gold;
}
.post-entry_2 h2{
    color: magenta;
}
.post_new{
    text-decoration: none;
    color: lime;
}
.write_post:visited{
    color: #583305;
    text-decoration: none;
}
.write_post:hover{
    color: magenta;
}
.write_post{
    text-decoration: none;
}
.basics:visited{
    color: aqua;
}
.basics:hover{
    color: blue;
}