{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Django mini app about blog posts</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
</head>
<body>

    <header>
        <div class="nav-left">
            <h1>
                <a class="basics" href="{% url 'home' %}">Django postlari</a>
            </h1>
        </div>
        <div class="nav-right">
            <h1><a class="write_post" href="{% url 'post_new' %}">Yangi post qo'shish</a></h1>
        </div>
    </header>
    <div>
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>