{% extends 'base.html' %}

{% block content %}
<h1 style="color: red">Postni tahrirlash</h1>
<form action="" method="post">{% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Saqlash">
</form>
{% endblock content%}