{% extends 'base.html' %}

{% block content %}
<h1 style="color: red">Postni o'chirish</h1>
<form action="" method="post">{% csrf_token %}
  <p><b>"{{post.title}}"</b> postini rostdan ham o'chirmoqchimisiz?</p>
  <input type="submit" value="O'chirish">
</form>
{% endblock content %}