{% extends 'base.html' %}

{% block content %}
<h1 class="post_new">Yangi post yozib qoldirish</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post hosil qilish">
</form>
{% endblock content %}