{% extends 'base.html' %}

{% block content %}
<div class="post-entry_2">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
</div>
<a href="{% url 'post_edit' post.pk %}">Postni tahrirlash</a>
-------------------------------------------------------------
<a href="{% url 'post_delete' post.pk %}">Postni o'chirish</a>
{% endblock content %}